# Covariant Shift (SA Model)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import sklearn
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import xgboost as xgb
import pickle
from sklearn.externals import joblib

/home/thanatlapthawan/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
# Read all data
# df_cc = pd.read_csv('prep_data/credit_summary.csv',index_col='ip_id')
df_sa_test = pd.read_csv('prep_data/sa_summary_sorn_test.csv',index_col='ip_id')
df_sa = pd.read_csv('prep_data/sa_summary_sorn_train.csv',index_col='ip_id')
df_cc = pd.read_csv('prep_data/credit_summary.csv',index_col='ip_id',usecols=range(0,69))
df_cc_test = pd.read_csv('prep_data/credit_summary_test.csv',index_col='ip_id',usecols=range(0,68))
df_demo = pd.read_csv('data/demo.csv',index_col='ip_id')
df_y_train = pd.read_csv('data/y_train.csv',index_col='ip_id')
df_y_test = pd.read_csv('data/y_test_index.csv',index_col='ip_id')

In [3]:
df_sa = df_sa.drop(['label','n_CR_EDC'],axis=1)

In [4]:
df_sa.head()

,n_huge_CR,n_huge_DR,diff_huge_train_CR_DR,n_ATM,n_Branch,n_CDM,n_CorporateConnect,n_EDC,n_KPlus,most_frequent_channel,...,sum_amt_CR,sum_amt_DR,diff_sum_amt_CR_DR,sum_amt_CR_per_month,sum_amt_DR_per_month,max_sum_amt_tp,avg_amt_CR,avg_amt_DR,diff_avg_amt_CR_DR,max_avg_amt_tp
ip_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,7.0,8.0,7.0,8.0,3.0,9.0,n_KPlus,...,108186.0,92468.0,15718.0,7727.571429,6604.857143,sum_amt_CR,5151.714286,4403.238095,748.476190,avg_amt_CR
2,0,0,0,5.0,7.0,7.0,9.0,3.0,10.0,n_KPlus,...,132896.0,97130.0,35766.0,9492.571429,6937.857143,sum_amt_CR,6994.526316,4415.000000,2579.526316,avg_amt_CR
3,0,0,0,9.0,10.0,1.0,11.0,2.0,9.0,n_CorporateConnect,...,88173.0,106546.0,-18373.0,6298.071429,7610.428571,sum_amt_DR,5186.647059,4261.840000,924.807059,avg_amt_CR
4,0,0,0,6.0,5.0,4.0,6.0,5.0,8.0,n_KPlus,...,66781.0,36645.0,30136.0,4770.071429,2617.500000,sum_amt_CR,4173.812500,2035.833333,2137.979167,avg_amt_CR
5,0,0,0,9.0,8.0,4.0,1.0,7.0,7.0,n_ATM,...,85706.0,103308.0,-17602.0,6121.857143,7379.142857,sum_amt_DR,5356.625000,5165.400000,191.225000,avg_amt_CR

In [5]:
df_sa_test.head()

,n_huge_CR,n_huge_DR,diff_huge_train_CR_DR,n_ATM,n_Branch,n_CDM,n_CorporateConnect,n_EDC,n_KPlus,most_frequent_channel,...,sum_amt_CR,sum_amt_DR,diff_sum_amt_CR_DR,sum_amt_CR_per_month,sum_amt_DR_per_month,max_sum_amt_tp,avg_amt_CR,avg_amt_DR,diff_avg_amt_CR_DR,max_avg_amt_tp
ip_id,,,,,,,,,,,,,,,,,,,,,
6362,1.0,3.0,-2.0,68.0,3.0,14.0,12.0,0.0,53.0,n_ATM,...,1989502.0,2094580.0,-105078.0,142107.285714,149612.857143,sum_amt_DR,27253.452055,27202.337662,51.114392,avg_amt_CR
6363,1.0,1.0,0.0,17.0,2.0,18.0,0.0,1.0,38.0,n_KPlus,...,676257.0,800377.0,-124120.0,48304.071429,57169.785714,sum_amt_DR,21814.741935,17786.155556,4028.586380,avg_amt_CR
6364,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,n_Branch,...,8779.0,0.0,8779.0,627.071429,0.000000,sum_amt_CR,8779.000000,0.000000,8779.000000,avg_amt_CR
6365,1.0,1.0,0.0,15.0,2.0,1.0,7.0,1.0,43.0,n_KPlus,...,808266.0,914016.0,-105750.0,57733.285714,65286.857143,sum_amt_DR,32330.640000,20773.090909,11557.549091,avg_amt_CR
6366,0.0,0.0,0.0,22.0,2.0,6.0,0.0,1.0,16.0,n_ATM,...,242020.0,206088.0,35932.0,17287.142857,14720.571429,sum_amt_CR,10522.608696,8587.000000,1935.608696,avg_amt_CR

In [6]:
for i in df_sa.columns.tolist():
    if i not in df_sa_test.columns.tolist():
        print(i)

### Merge data

In [7]:
df_sa_all = pd.concat([df_sa,df_sa_test],axis=0)

In [8]:
df_sa_all.head()

,n_huge_CR,n_huge_DR,diff_huge_train_CR_DR,n_ATM,n_Branch,n_CDM,n_CorporateConnect,n_EDC,n_KPlus,most_frequent_channel,...,sum_amt_CR,sum_amt_DR,diff_sum_amt_CR_DR,sum_amt_CR_per_month,sum_amt_DR_per_month,max_sum_amt_tp,avg_amt_CR,avg_amt_DR,diff_avg_amt_CR_DR,max_avg_amt_tp
ip_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,7.0,8.0,7.0,8.0,3.0,9.0,n_KPlus,...,108186.0,92468.0,15718.0,7727.571429,6604.857143,sum_amt_CR,5151.714286,4403.238095,748.476190,avg_amt_CR
2,0.0,0.0,0.0,5.0,7.0,7.0,9.0,3.0,10.0,n_KPlus,...,132896.0,97130.0,35766.0,9492.571429,6937.857143,sum_amt_CR,6994.526316,4415.000000,2579.526316,avg_amt_CR
3,0.0,0.0,0.0,9.0,10.0,1.0,11.0,2.0,9.0,n_CorporateConnect,...,88173.0,106546.0,-18373.0,6298.071429,7610.428571,sum_amt_DR,5186.647059,4261.840000,924.807059,avg_amt_CR
4,0.0,0.0,0.0,6.0,5.0,4.0,6.0,5.0,8.0,n_KPlus,...,66781.0,36645.0,30136.0,4770.071429,2617.500000,sum_amt_CR,4173.812500,2035.833333,2137.979167,avg_amt_CR
5,0.0,0.0,0.0,9.0,8.0,4.0,1.0,7.0,7.0,n_ATM,...,85706.0,103308.0,-17602.0,6121.857143,7379.142857,sum_amt_DR,5356.625000,5165.400000,191.225000,avg_amt_CR

In [9]:
df = df_demo.join(df_sa_all,how="inner")

In [10]:
df.to_csv('all_data_sa.csv')

In [11]:
df.head()

,brth_yr,act_strt_dt,no_of_dpnd_chl,cis_income,crn_bal,gnd_cd,mar_st_cd,ctf_tp_cd,ocp_cd,n_huge_CR,...,sum_amt_CR,sum_amt_DR,diff_sum_amt_CR_DR,sum_amt_CR_per_month,sum_amt_DR_per_month,max_sum_amt_tp,avg_amt_CR,avg_amt_DR,diff_avg_amt_CR_DR,max_avg_amt_tp
ip_id,,,,,,,,,,,,,,,,,,,,,
1,1990.0,2011-12-11,0.0,45864.0,876428.0,2.0,2.0,3.0,9,0.0,...,108186.0,92468.0,15718.0,7727.571429,6604.857143,sum_amt_CR,5151.714286,4403.238095,748.476190,avg_amt_CR
2,1986.0,2010-06-08,1.0,43355.0,540649.0,2.0,2.0,1.0,3,0.0,...,132896.0,97130.0,35766.0,9492.571429,6937.857143,sum_amt_CR,6994.526316,4415.000000,2579.526316,avg_amt_CR
3,1983.0,2013-12-06,0.0,48836.0,310503.0,2.0,2.0,2.0,12,0.0,...,88173.0,106546.0,-18373.0,6298.071429,7610.428571,sum_amt_DR,5186.647059,4261.840000,924.807059,avg_amt_CR
4,1984.0,2009-12-27,0.0,44397.0,34209.0,2.0,2.0,5.0,11,0.0,...,66781.0,36645.0,30136.0,4770.071429,2617.500000,sum_amt_CR,4173.812500,2035.833333,2137.979167,avg_amt_CR
5,1986.0,2006-09-01,1.0,43281.0,39963.0,2.0,3.0,6.0,9,0.0,...,85706.0,103308.0,-17602.0,6121.857143,7379.142857,sum_amt_DR,5356.625000,5165.400000,191.225000,avg_amt_CR

In [12]:
df.select_dtypes('object').columns.tolist()

['act_strt_dt',
 'most_frequent_channel',
 'most_frequent_CR_channel',
 'most_frequent_DR_channel',
 'most_frequent_tp',
 'max_sum_amt_tp',
 'max_avg_amt_tp']

### One-hot

In [13]:
# df.drop(['act_strt_dt'],axis=1,inplace=True)
# dummy = pd.get_dummies(df[df.select_dtypes('object').columns.tolist()])
# df = pd.concat([dummy,df[df.select_dtypes(['int64','float64']).columns.tolist()]],axis=1)

### Drop

In [14]:
df.drop(df.select_dtypes('object').columns.tolist(),axis=1,inplace=True)

In [15]:
df.head()

,brth_yr,no_of_dpnd_chl,cis_income,crn_bal,gnd_cd,mar_st_cd,ctf_tp_cd,ocp_cd,n_huge_CR,n_huge_DR,...,n_DR,diff_n_CR_DR,sum_amt_CR,sum_amt_DR,diff_sum_amt_CR_DR,sum_amt_CR_per_month,sum_amt_DR_per_month,avg_amt_CR,avg_amt_DR,diff_avg_amt_CR_DR
ip_id,,,,,,,,,,,,,,,,,,,,,
1,1990.0,0.0,45864.0,876428.0,2.0,2.0,3.0,9,0.0,0.0,...,21.0,0.0,108186.0,92468.0,15718.0,7727.571429,6604.857143,5151.714286,4403.238095,748.476190
2,1986.0,1.0,43355.0,540649.0,2.0,2.0,1.0,3,0.0,0.0,...,22.0,-3.0,132896.0,97130.0,35766.0,9492.571429,6937.857143,6994.526316,4415.000000,2579.526316
3,1983.0,0.0,48836.0,310503.0,2.0,2.0,2.0,12,0.0,0.0,...,25.0,-8.0,88173.0,106546.0,-18373.0,6298.071429,7610.428571,5186.647059,4261.840000,924.807059
4,1984.0,0.0,44397.0,34209.0,2.0,2.0,5.0,11,0.0,0.0,...,18.0,-2.0,66781.0,36645.0,30136.0,4770.071429,2617.500000,4173.812500,2035.833333,2137.979167
5,1986.0,1.0,43281.0,39963.0,2.0,3.0,6.0,9,0.0,0.0,...,20.0,-4.0,85706.0,103308.0,-17602.0,6121.857143,7379.142857,5356.625000,5165.400000,191.225000

In [16]:
# df_y_train.head()

In [17]:
# df.isnull().sum()

In [18]:
df.columns[df.isnull().sum() > 0]

Index([], dtype='object')

In [19]:
df.fillna(0,inplace=True)

In [20]:
df_train = df.join(df_y_train,how="inner").drop(['label'],axis=1)
df_train['is_train'] = 1

df_test = df.join(df_y_test,how="inner")
df_test['is_train'] = 0

In [21]:
df_all = pd.concat([df_train,df_test],axis=0)
df_all.is_train.value_counts()

1    6361
0    3602
Name: is_train, dtype: int64

In [22]:
df_all.head()

,brth_yr,no_of_dpnd_chl,cis_income,crn_bal,gnd_cd,mar_st_cd,ctf_tp_cd,ocp_cd,n_huge_CR,n_huge_DR,...,diff_n_CR_DR,sum_amt_CR,sum_amt_DR,diff_sum_amt_CR_DR,sum_amt_CR_per_month,sum_amt_DR_per_month,avg_amt_CR,avg_amt_DR,diff_avg_amt_CR_DR,is_train
ip_id,,,,,,,,,,,,,,,,,,,,,
1,1990.0,0.0,45864.0,876428.0,2.0,2.0,3.0,9,0.0,0.0,...,0.0,108186.0,92468.0,15718.0,7727.571429,6604.857143,5151.714286,4403.238095,748.476190,1
2,1986.0,1.0,43355.0,540649.0,2.0,2.0,1.0,3,0.0,0.0,...,-3.0,132896.0,97130.0,35766.0,9492.571429,6937.857143,6994.526316,4415.000000,2579.526316,1
3,1983.0,0.0,48836.0,310503.0,2.0,2.0,2.0,12,0.0,0.0,...,-8.0,88173.0,106546.0,-18373.0,6298.071429,7610.428571,5186.647059,4261.840000,924.807059,1
4,1984.0,0.0,44397.0,34209.0,2.0,2.0,5.0,11,0.0,0.0,...,-2.0,66781.0,36645.0,30136.0,4770.071429,2617.500000,4173.812500,2035.833333,2137.979167,1
5,1986.0,1.0,43281.0,39963.0,2.0,3.0,6.0,9,0.0,0.0,...,-4.0,85706.0,103308.0,-17602.0,6121.857143,7379.142857,5356.625000,5165.400000,191.225000,1

In [23]:
df_all.head()

,brth_yr,no_of_dpnd_chl,cis_income,crn_bal,gnd_cd,mar_st_cd,ctf_tp_cd,ocp_cd,n_huge_CR,n_huge_DR,...,diff_n_CR_DR,sum_amt_CR,sum_amt_DR,diff_sum_amt_CR_DR,sum_amt_CR_per_month,sum_amt_DR_per_month,avg_amt_CR,avg_amt_DR,diff_avg_amt_CR_DR,is_train
ip_id,,,,,,,,,,,,,,,,,,,,,
1,1990.0,0.0,45864.0,876428.0,2.0,2.0,3.0,9,0.0,0.0,...,0.0,108186.0,92468.0,15718.0,7727.571429,6604.857143,5151.714286,4403.238095,748.476190,1
2,1986.0,1.0,43355.0,540649.0,2.0,2.0,1.0,3,0.0,0.0,...,-3.0,132896.0,97130.0,35766.0,9492.571429,6937.857143,6994.526316,4415.000000,2579.526316,1
3,1983.0,0.0,48836.0,310503.0,2.0,2.0,2.0,12,0.0,0.0,...,-8.0,88173.0,106546.0,-18373.0,6298.071429,7610.428571,5186.647059,4261.840000,924.807059,1
4,1984.0,0.0,44397.0,34209.0,2.0,2.0,5.0,11,0.0,0.0,...,-2.0,66781.0,36645.0,30136.0,4770.071429,2617.500000,4173.812500,2035.833333,2137.979167,1
5,1986.0,1.0,43281.0,39963.0,2.0,3.0,6.0,9,0.0,0.0,...,-4.0,85706.0,103308.0,-17602.0,6121.857143,7379.142857,5356.625000,5165.400000,191.225000,1

In [24]:
df_all.is_train.value_counts()

1    6361
0    3602
Name: is_train, dtype: int64

### Feature Selection

In [25]:
def feature_select(df_all, thres = 0.5):
    res = 1
    while res > thres:
        columns = df_all.columns.tolist()

        y = df_all['is_train'].values
        X = df_all.drop(['is_train'],axis=1).values
        X_train, X_val, y_train, y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=0)
        
        
        rfc = RandomForestClassifier(n_jobs=-1, max_depth=5, min_samples_leaf = 5,
                                    n_estimators=100)
        rfc.fit(X_train,y_train)
        res_prob = rfc.predict_proba(X_val)[:, 1]

        fpr, tpr, thresholds = metrics.roc_curve(y_test.ravel(), res_prob, pos_label=1)
        res = metrics.auc(fpr, tpr)
        
        if res > thres:
            df_all = df_all.drop([columns[rfc.feature_importances_.argmax()]],axis=1)
    
    print(res)
    return df_all

In [26]:
df_select = feature_select(df_all,0.7)

0.5183936095046188

In [27]:
df_select.head()

       no_of_dpnd_chl  gnd_cd  is_train
ip_id
1                 0.0     2.0         1
2                 1.0     2.0         1
3                 0.0     2.0         1
4                 0.0     2.0         1
5                 1.0     2.0         1

### Build a Credit model with RandomForest

In [38]:
df_train = df_select.join(df_y_train,how="inner").drop(['is_train'],axis=1)

In [39]:
y = df_train['label'].values
X = df_train.drop(['label'],axis=1).values
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.2,stratify=y,random_state=0)

In [40]:
rfc = RandomForestClassifier(n_jobs=-1, max_depth=5, min_samples_leaf = 5,
                            n_estimators=100)
rfc.fit(X_train,y_train)
res = rfc.predict(X_val)

In [41]:
print(metrics.classification_report(y_val,res))

             precision    recall  f1-score   support

        0.0       0.94      1.00      0.97      1190
        1.0       0.83      0.06      0.11        83

avg / total       0.93      0.94      0.91      1273

In [42]:
res_prob = rfc.predict_proba(X_val)[:,1]
fpr, tpr, thresholds = metrics.roc_curve(y_val.ravel(), res_prob, pos_label=1)
metrics.auc(fpr, tpr)

0.5977169180925381

In [33]:
joblib.dump(rfc, 'model/sa_model_rfc_4.joblib')

['model/sa_model_rfc_4.joblib']

### Build a Credit model with XgBoost

In [34]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_val, label=y_val)

In [35]:
param = {'max_depth': 10, 'eta': 0.1, 'silent': 1, 'objective': 'binary:logistic', 'subsample':0.5}
param['nthread'] = 4
param['eval_metric'] = 'auc'

evallist = [(dtest, 'eval'), (dtrain, 'train')]

In [36]:
num_round = 10
bst = xgb.train(param, dtrain, num_round, evallist)

[0]	eval-auc:0.571464	train-auc:0.592393
[1]	eval-auc:0.571424	train-auc:0.592408
[2]	eval-auc:0.571424	train-auc:0.592408
[3]	eval-auc:0.571424	train-auc:0.592408
[4]	eval-auc:0.571424	train-auc:0.592408
[5]	eval-auc:0.571424	train-auc:0.592408
[6]	eval-auc:0.571408	train-auc:0.592409
[7]	eval-auc:0.571408	train-auc:0.592409
[8]	eval-auc:0.588407	train-auc:0.627949
[9]	eval-auc:0.588407	train-auc:0.627949

In [37]:
bst.save_model('model/sa_xgb_4.model')