# Covariant Shift

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import sklearn
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import xgboost as xgb

In [2]:
# Read all data
# df_cc = pd.read_csv('prep_data/credit_summary.csv',index_col='ip_id')
df_sa = pd.read_csv('prep_data/SA_summary.csv',index_col='ip_id')
df_sa2 = pd.read_csv('prep_data/summary_sa.csv',index_col='ip_id')
df_cc = pd.read_csv('prep_data/credit_summary.csv',index_col='ip_id')
df_cc_test = pd.read_csv('prep_data/credit_summary_test.csv',index_col='ip_id')
df_demo = pd.read_csv('data/demo.csv',index_col='ip_id')
df_y_train = pd.read_csv('data/y_train.csv',index_col='ip_id')
df_y_test = pd.read_csv('data/y_test_index.csv',index_col='ip_id')

In [3]:
df_cc.columns.tolist()

['label',
 'number_of_huge_payment',
 'n_cat1',
 'n_cat10',
 'n_cat11',
 'n_cat12',
 'n_cat13',
 'n_cat14',
 'n_cat15',
 'n_cat16',
 'n_cat2',
 'n_cat3',
 'n_cat4',
 'n_cat5',
 'n_cat6',
 'n_cat7',
 'n_cat8',
 'n_cat9',
 'sum_amt_cat1',
 'sum_amt_cat10',
 'sum_amt_cat11',
 'sum_amt_cat12',
 'sum_amt_cat13',
 'sum_amt_cat14',
 'sum_amt_cat15',
 'sum_amt_cat16',
 'sum_amt_cat2',
 'sum_amt_cat3',
 'sum_amt_cat4',
 'sum_amt_cat5',
 'sum_amt_cat6',
 'sum_amt_cat7',
 'sum_amt_cat8',
 'sum_amt_cat9',
 'avg_amt_cat1',
 'avg_amt_cat10',
 'avg_amt_cat11',
 'avg_amt_cat12',
 'avg_amt_cat13',
 'avg_amt_cat14',
 'avg_amt_cat15',
 'avg_amt_cat16',
 'avg_amt_cat2',
 'avg_amt_cat3',
 'avg_amt_cat4',
 'avg_amt_cat5',
 'avg_amt_cat6',
 'avg_amt_cat7',
 'avg_amt_cat8',
 'avg_amt_cat9',
 'txn_amt',
 'txn_amt_per_month',
 'n_tran',
 'n_tran_per_month',
 'n_card1',
 'n_card2',
 'n_card3',
 'sum_amt_card1',
 'sum_amt_card2',
 'sum_amt_card3',
 'avg_amt_card1',
 'avg_amt_card2',
 'avg_amt_card3',
 'n_cat1-card1',
 'n_cat1-card2',
 'n_cat1-card3',
 'n_cat10-card1',
 'n_cat10-card2',
 'n_cat10-card3',
 'n_cat11-card1',
 'n_cat11-card2',
 'n_cat11-card3',
 'n_cat12-card1',
 'n_cat12-card2',
 'n_cat13-card1',
 'n_cat13-card2',
 'n_cat13-card3',
 'n_cat14-card1',
 'n_cat14-card2',
 'n_cat14-card3',
 'n_cat15-card1',
 'n_cat15-card2',
 'n_cat15-card3',
 'n_cat16-card1',
 'n_cat16-card2',
 'n_cat16-card3',
 'n_cat2-card1',
 'n_cat2-card2',
 'n_cat2-card3',
 'n_cat3-card1',
 'n_cat3-card2',
 'n_cat3-card3',
 'n_cat4-card1',
 'n_cat4-card2',
 'n_cat4-card3',
 'n_cat5-card1',
 'n_cat5-card2',
 'n_cat5-card3',
 'n_cat6-card1',
 'n_cat6-card2',
 'n_cat6-card3',
 'n_cat7-card1',
 'n_cat7-card2',
 'n_cat7-card3',
 'n_cat8-card1',
 'n_cat8-card2',
 'n_cat8-card3',
 'n_cat9-card1',
 'n_cat9-card2',
 'n_cat9-card3',
 'sum_cat1-card1',
 'sum_cat1-card2',
 'sum_cat1-card3',
 'sum_cat10-card1',
 'sum_cat10-card2',
 'sum_cat10-card3',
 'sum_cat11-card1',
 'sum_cat11-card2',
 'sum_cat11-card3',
 'sum_cat12-card1',
 'sum_cat12-card2',
 'sum_cat13-card1',
 'sum_cat13-card2',
 'sum_cat13-card3',
 'sum_cat14-card1',
 'sum_cat14-card2',
 'sum_cat14-card3',
 'sum_cat15-card1',
 'sum_cat15-card2',
 'sum_cat15-card3',
 'sum_cat16-card1',
 'sum_cat16-card2',
 'sum_cat16-card3',
 'sum_cat2-card1',
 'sum_cat2-card2',
 'sum_cat2-card3',
 'sum_cat3-card1',
 'sum_cat3-card2',
 'sum_cat3-card3',
 'sum_cat4-card1',
 'sum_cat4-card2',
 'sum_cat4-card3',
 'sum_cat5-card1',
 'sum_cat5-card2',
 'sum_cat5-card3',
 'sum_cat6-card1',
 'sum_cat6-card2',
 'sum_cat6-card3',
 'sum_cat7-card1',
 'sum_cat7-card2',
 'sum_cat7-card3',
 'sum_cat8-card1',
 'sum_cat8-card2',
 'sum_cat8-card3',
 'sum_cat9-card1',
 'sum_cat9-card2',
 'sum_cat9-card3',
 'avg_cat1-card1',
 'avg_cat1-card2',
 'avg_cat1-card3',
 'avg_cat10-card1',
 'avg_cat10-card2',
 'avg_cat10-card3',
 'avg_cat11-card1',
 'avg_cat11-card2',
 'avg_cat11-card3',
 'avg_cat12-card1',
 'avg_cat12-card2',
 'avg_cat13-card1',
 'avg_cat13-card2',
 'avg_cat13-card3',
 'avg_cat14-card1',
 'avg_cat14-card2',
 'avg_cat14-card3',
 'avg_cat15-card1',
 'avg_cat15-card2',
 'avg_cat15-card3',
 'avg_cat16-card1',
 'avg_cat16-card2',
 'avg_cat16-card3',
 'avg_cat2-card1',
 'avg_cat2-card2',
 'avg_cat2-card3',
 'avg_cat3-card1',
 'avg_cat3-card2',
 'avg_cat3-card3',
 'avg_cat4-card1',
 'avg_cat4-card2',
 'avg_cat4-card3',
 'avg_cat5-card1',
 'avg_cat5-card2',
 'avg_cat5-card3',
 'avg_cat6-card1',
 'avg_cat6-card2',
 'avg_cat6-card3',
 'avg_cat7-card1',
 'avg_cat7-card2',
 'avg_cat7-card3',
 'avg_cat8-card1',
 'avg_cat8-card2',
 'avg_cat8-card3',
 'avg_cat9-card1',
 'avg_cat9-card2',
 'avg_cat9-card3']

In [4]:
df_cc_sm = df_cc.iloc[:,0:63].drop(['label'],axis=1)

In [5]:
df_cc_sm.head()

,number_of_huge_payment,n_cat1,n_cat10,n_cat11,n_cat12,n_cat13,n_cat14,n_cat15,n_cat16,n_cat2,...,n_tran_per_month,n_card1,n_card2,n_card3,sum_amt_card1,sum_amt_card2,sum_amt_card3,avg_amt_card1,avg_amt_card2,avg_amt_card3
ip_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,4.0,1.0,7.0,1.0,0.0,9.0,8.0,13.0,9.0,...,7.000000,58,25,15,305683.0,114261.0,66478.0,5270.396552,4570.440000,4431.866667
2,0.0,2.0,1.0,7.0,0.0,1.0,14.0,6.0,5.0,8.0,...,5.714286,37,30,13,163238.0,129303.0,42568.0,4411.837838,4310.100000,3274.461538
3,0.0,13.0,0.0,11.0,0.0,3.0,13.0,5.0,8.0,5.0,...,6.571429,42,34,16,239214.0,188063.0,77641.0,5695.571429,5531.264706,4852.562500
4,0.0,8.0,0.0,7.0,0.0,4.0,13.0,1.0,6.0,7.0,...,6.571429,47,30,15,241518.0,139565.0,74907.0,5138.680851,4652.166667,4993.800000
5,0.0,10.0,0.0,13.0,0.0,2.0,14.0,1.0,8.0,5.0,...,6.785714,46,36,13,247088.0,229892.0,71848.0,5371.478261,6385.888889,5526.769231

In [6]:
df_cc_test_sm = df_cc_test.iloc[:,0:62]

In [7]:
df_cc_test_sm.shape

(1127, 62)

In [8]:
1072 + 55

1127

### Merge data

In [9]:
df_cc_all = pd.concat([df_cc_sm,df_cc_test_sm])

In [10]:
df2 = df_demo.join(df_cc_all,how="inner").join(df_y_train,how="left").fillna(2.0)

In [11]:
df2.label.value_counts()

0.0    5947
2.0    1127
1.0     414
Name: label, dtype: int64

In [12]:
# df = df_demo.join(df_sa,how="inner").join(df_cc,how="inner")
df = df_demo.join(df_sa,how="inner").join(df_sa2,how="inner")
df = df.join(df_cc_all,how="inner")

In [13]:
df.to_csv('all_data.csv')

In [14]:
df.head()

,brth_yr,act_strt_dt,no_of_dpnd_chl,cis_income,crn_bal,gnd_cd,mar_st_cd,ctf_tp_cd,ocp_cd,Average_Debit,...,n_tran_per_month,n_card1,n_card2,n_card3,sum_amt_card1,sum_amt_card2,sum_amt_card3,avg_amt_card1,avg_amt_card2,avg_amt_card3
ip_id,,,,,,,,,,,,,,,,,,,,,
1,1990.0,2011-12-11,0.0,45864.0,876428.0,2.0,2.0,3.0,9,4403.238095,...,7.000000,58.0,25.0,15.0,305683.0,114261.0,66478.0,5270.396552,4570.440000,4431.866667
2,1986.0,2010-06-08,1.0,43355.0,540649.0,2.0,2.0,1.0,3,4415.000000,...,5.714286,37.0,30.0,13.0,163238.0,129303.0,42568.0,4411.837838,4310.100000,3274.461538
3,1983.0,2013-12-06,0.0,48836.0,310503.0,2.0,2.0,2.0,12,4261.840000,...,6.571429,42.0,34.0,16.0,239214.0,188063.0,77641.0,5695.571429,5531.264706,4852.562500
4,1984.0,2009-12-27,0.0,44397.0,34209.0,2.0,2.0,5.0,11,2035.833333,...,6.571429,47.0,30.0,15.0,241518.0,139565.0,74907.0,5138.680851,4652.166667,4993.800000
5,1986.0,2006-09-01,1.0,43281.0,39963.0,2.0,3.0,6.0,9,5165.400000,...,6.785714,46.0,36.0,13.0,247088.0,229892.0,71848.0,5371.478261,6385.888889,5526.769231

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7407 entries, 1 to 10294
Data columns (total 88 columns):
brth_yr                   7407 non-null float64
act_strt_dt               7407 non-null object
no_of_dpnd_chl            7407 non-null float64
cis_income                7407 non-null float64
crn_bal                   7407 non-null float64
gnd_cd                    7407 non-null float64
mar_st_cd                 7407 non-null float64
ctf_tp_cd                 7407 non-null float64
ocp_cd                    7407 non-null int64
Average_Debit             7407 non-null float64
Average_Credit            7399 non-null float64
Count_Debit               7407 non-null int64
Count_Credit              7399 non-null float64
Average_Ratio             7399 non-null float64
Count_Ratio               7399 non-null float64
Unnamed: 0                7407 non-null int64
amt                       7407 non-null float64
diff_days                 7407 non-null float64
CR                        7399 non-null float64
DR                        7407 non-null float64
ATM                       7377 non-null float64
Branch                    7234 non-null float64
CDM                       7009 non-null float64
CorporateConnect          6910 non-null float64
EDC                       6530 non-null float64
KPlus                     7328 non-null float64
number_of_huge_payment    7407 non-null float64
n_cat1                    7407 non-null float64
n_cat10                   7407 non-null float64
n_cat11                   7407 non-null float64
n_cat12                   7407 non-null float64
n_cat13                   7407 non-null float64
n_cat14                   7407 non-null float64
n_cat15                   7407 non-null float64
n_cat16                   7407 non-null float64
n_cat2                    7407 non-null float64
n_cat3                    7407 non-null float64
n_cat4                    7407 non-null float64
n_cat5                    7407 non-null float64
n_cat6                    7407 non-null float64
n_cat7                    7407 non-null float64
n_cat8                    7407 non-null float64
n_cat9                    7407 non-null float64
sum_amt_cat1              7407 non-null float64
sum_amt_cat10             7407 non-null float64
sum_amt_cat11             7407 non-null float64
sum_amt_cat12             7407 non-null float64
sum_amt_cat13             7407 non-null float64
sum_amt_cat14             7407 non-null float64
sum_amt_cat15             7407 non-null float64
sum_amt_cat16             7407 non-null float64
sum_amt_cat2              7407 non-null float64
sum_amt_cat3              7407 non-null float64
sum_amt_cat4              7407 non-null float64
sum_amt_cat5              7407 non-null float64
sum_amt_cat6              7407 non-null float64
sum_amt_cat7              7407 non-null float64
sum_amt_cat8              7407 non-null float64
sum_amt_cat9              7407 non-null float64
avg_amt_cat1              7407 non-null float64
avg_amt_cat10             7407 non-null float64
avg_amt_cat11             7407 non-null float64
avg_amt_cat12             7407 non-null float64
avg_amt_cat13             7407 non-null float64
avg_amt_cat14             7407 non-null float64
avg_amt_cat15             7407 non-null float64
avg_amt_cat16             7407 non-null float64
avg_amt_cat2              7407 non-null float64
avg_amt_cat3              7407 non-null float64
avg_amt_cat4              7407 non-null float64
avg_amt_cat5              7407 non-null float64
avg_amt_cat6              7407 non-null float64
avg_amt_cat7              7407 non-null float64
avg_amt_cat8              7407 non-null float64
avg_amt_cat9              7407 non-null float64
txn_amt                   7407 non-null float64
txn_amt_per_month         7407 non-null float64
n_tran                    7407 non-null float64
n_tran_per_month          7407 non-null float64
n_card1                   7407 non-null float64
n_card2                   7407 non-null float64
n_card3                   7407 non-null float64
sum_amt_card1             7407 non-null float64
sum_amt_card2             7407 non-null float64
sum_amt_card3             7407 non-null float64
avg_amt_card1             7407 non-null float64
avg_amt_card2             7407 non-null float64
avg_amt_card3             7407 non-null float64
dtypes: float64(84), int64(3), object(1)
memory usage: 5.0+ MB

In [16]:
df_y_train.head()

       label
ip_id
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0

In [17]:
df.isnull().sum()

brth_yr                     0
act_strt_dt                 0
no_of_dpnd_chl              0
cis_income                  0
crn_bal                     0
gnd_cd                      0
mar_st_cd                   0
ctf_tp_cd                   0
ocp_cd                      0
Average_Debit               0
Average_Credit              8
Count_Debit                 0
Count_Credit                8
Average_Ratio               8
Count_Ratio                 8
Unnamed: 0                  0
amt                         0
diff_days                   0
CR                          8
DR                          0
ATM                        30
Branch                    173
CDM                       398
CorporateConnect          497
EDC                       877
KPlus                      79
number_of_huge_payment      0
n_cat1                      0
n_cat10                     0
n_cat11                     0
                         ...
sum_amt_cat9                0
avg_amt_cat1                0
avg_amt_cat10               0
avg_amt_cat11               0
avg_amt_cat12               0
avg_amt_cat13               0
avg_amt_cat14               0
avg_amt_cat15               0
avg_amt_cat16               0
avg_amt_cat2                0
avg_amt_cat3                0
avg_amt_cat4                0
avg_amt_cat5                0
avg_amt_cat6                0
avg_amt_cat7                0
avg_amt_cat8                0
avg_amt_cat9                0
txn_amt                     0
txn_amt_per_month           0
n_tran                      0
n_tran_per_month            0
n_card1                     0
n_card2                     0
n_card3                     0
sum_amt_card1               0
sum_amt_card2               0
sum_amt_card3               0
avg_amt_card1               0
avg_amt_card2               0
avg_amt_card3               0
Length: 88, dtype: int64

In [18]:
df.columns[df.isnull().sum() > 0]

Index(['Average_Credit', 'Count_Credit', 'Average_Ratio', 'Count_Ratio', 'CR',
       'ATM', 'Branch', 'CDM', 'CorporateConnect', 'EDC', 'KPlus'],
      dtype='object')

In [19]:
df.fillna(0,inplace=True)

In [20]:
df_train = df.join(df_y_train,how="inner").drop(['label'],axis=1)
df_train['is_train'] = 1

df_test = df.join(df_y_test,how="inner")
df_test['is_train'] = 0

In [21]:
df_all = pd.concat([df_train,df_test],axis=0)

In [22]:
df_all.head()

,brth_yr,act_strt_dt,no_of_dpnd_chl,cis_income,crn_bal,gnd_cd,mar_st_cd,ctf_tp_cd,ocp_cd,Average_Debit,...,n_card1,n_card2,n_card3,sum_amt_card1,sum_amt_card2,sum_amt_card3,avg_amt_card1,avg_amt_card2,avg_amt_card3,is_train
ip_id,,,,,,,,,,,,,,,,,,,,,
1,1990.0,2011-12-11,0.0,45864.0,876428.0,2.0,2.0,3.0,9,4403.238095,...,58.0,25.0,15.0,305683.0,114261.0,66478.0,5270.396552,4570.440000,4431.866667,1
2,1986.0,2010-06-08,1.0,43355.0,540649.0,2.0,2.0,1.0,3,4415.000000,...,37.0,30.0,13.0,163238.0,129303.0,42568.0,4411.837838,4310.100000,3274.461538,1
3,1983.0,2013-12-06,0.0,48836.0,310503.0,2.0,2.0,2.0,12,4261.840000,...,42.0,34.0,16.0,239214.0,188063.0,77641.0,5695.571429,5531.264706,4852.562500,1
4,1984.0,2009-12-27,0.0,44397.0,34209.0,2.0,2.0,5.0,11,2035.833333,...,47.0,30.0,15.0,241518.0,139565.0,74907.0,5138.680851,4652.166667,4993.800000,1
5,1986.0,2006-09-01,1.0,43281.0,39963.0,2.0,3.0,6.0,9,5165.400000,...,46.0,36.0,13.0,247088.0,229892.0,71848.0,5371.478261,6385.888889,5526.769231,1

In [23]:
df_all.is_train.value_counts()

1    6361
0    1046
Name: is_train, dtype: int64

In [24]:
df_all.isnull().sum()

brth_yr                   0
act_strt_dt               0
no_of_dpnd_chl            0
cis_income                0
crn_bal                   0
gnd_cd                    0
mar_st_cd                 0
ctf_tp_cd                 0
ocp_cd                    0
Average_Debit             0
Average_Credit            0
Count_Debit               0
Count_Credit              0
Average_Ratio             0
Count_Ratio               0
Unnamed: 0                0
amt                       0
diff_days                 0
CR                        0
DR                        0
ATM                       0
Branch                    0
CDM                       0
CorporateConnect          0
EDC                       0
KPlus                     0
number_of_huge_payment    0
n_cat1                    0
n_cat10                   0
n_cat11                   0
                         ..
avg_amt_cat1              0
avg_amt_cat10             0
avg_amt_cat11             0
avg_amt_cat12             0
avg_amt_cat13             0
avg_amt_cat14             0
avg_amt_cat15             0
avg_amt_cat16             0
avg_amt_cat2              0
avg_amt_cat3              0
avg_amt_cat4              0
avg_amt_cat5              0
avg_amt_cat6              0
avg_amt_cat7              0
avg_amt_cat8              0
avg_amt_cat9              0
txn_amt                   0
txn_amt_per_month         0
n_tran                    0
n_tran_per_month          0
n_card1                   0
n_card2                   0
n_card3                   0
sum_amt_card1             0
sum_amt_card2             0
sum_amt_card3             0
avg_amt_card1             0
avg_amt_card2             0
avg_amt_card3             0
is_train                  0
Length: 89, dtype: int64

In [25]:
# df_all.drop('label',axis=1,inplace=True)
# df_all.fillna(0,inplace=True)

In [26]:
# df_all.columns.tolist()

In [27]:
df_all.drop(['act_strt_dt'],axis=1,inplace=True)

In [28]:
# columns = df_all.columns.tolist()

# y = df_all['is_train'].values
# X = df_all.drop(['is_train'],axis=1).values
# X_train, X_val, y_train, y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=0)

In [29]:
# rfc = RandomForestClassifier(n_jobs=-1, max_depth=5, min_samples_leaf = 5,
#                             n_estimators=100)
# rfc.fit(X_train,y_train)
# res_prob = rfc.predict_proba(X_val)[:, 1]

# fpr, tpr, thresholds = metrics.roc_curve(y_test.ravel(), res_prob, pos_label=1)
# metrics.auc(fpr, tpr)

In [30]:
# df_all.drop([columns[rfc.feature_importances_.argmax()]],axis=1,inplace=True)

### Feature Selection

In [31]:
def feature_select(df_all, thres = 0.5):
    res = 1
    while res > thres:
        columns = df_all.columns.tolist()

        y = df_all['is_train'].values
        X = df_all.drop(['is_train'],axis=1).values
        X_train, X_val, y_train, y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=0)
        
        
        rfc = RandomForestClassifier(n_jobs=-1, max_depth=5, min_samples_leaf = 5,
                                    n_estimators=100)
        rfc.fit(X_train,y_train)
        res_prob = rfc.predict_proba(X_val)[:, 1]

        fpr, tpr, thresholds = metrics.roc_curve(y_test.ravel(), res_prob, pos_label=1)
        res = metrics.auc(fpr, tpr)
        
        if res > thres:
            df_all.drop([columns[rfc.feature_importances_.argmax()]],axis=1,inplace=True)
    
    print(res)
    return df_all

In [32]:
df_select = feature_select(df_all,0.7)

0.6090292681643407

In [33]:
df_select.head()

,no_of_dpnd_chl,gnd_cd,number_of_huge_payment,n_cat10,sum_amt_cat10,avg_amt_cat10,is_train
ip_id,,,,,,,
1,0.0,2.0,0.0,1.0,2875.0,2875.0,1
2,1.0,2.0,0.0,1.0,3004.0,3004.0,1
3,0.0,2.0,0.0,0.0,0.0,0.0,1
4,0.0,2.0,0.0,0.0,0.0,0.0,1
5,1.0,2.0,0.0,0.0,0.0,0.0,1

### Build a Credit model with RandomForest

In [34]:
df_train = df_select.join(df_y_train,how="inner").drop(['is_train'],axis=1)

In [40]:
y = df_train['label'].values
X = df_train.drop(['label'],axis=1).values
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.2,stratify=y,random_state=0)

In [36]:
rfc = RandomForestClassifier(n_jobs=-1, max_depth=5, min_samples_leaf = 5,
                            n_estimators=100)
rfc.fit(X_train,y_train)
res = rfc.predict(X_val)

In [37]:
print(metrics.classification_report(y_test,res))

             precision    recall  f1-score   support

        0.0       0.95      1.00      0.97      1190
        1.0       0.95      0.22      0.35        83

avg / total       0.95      0.95      0.93      1273

In [38]:
res_prob = rfc.predict_proba(X_val)[:,1]
fpr, tpr, thresholds = metrics.roc_curve(y_test.ravel(), res_prob, pos_label=1)
metrics.auc(fpr, tpr)

0.723979953427154

### Build a Credit model with XgBoost

In [41]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_val, label=y_val)

In [42]:
param = {'max_depth': 2, 'eta': 1, 'silent': 1, 'objective': 'binary:logistic'}
param['nthread'] = 4
param['eval_metric'] = 'auc'

evallist = [(dtest, 'eval'), (dtrain, 'train')]

In [43]:
num_round = 10
bst = xgb.train(param, dtrain, num_round, evallist)

[0]	eval-auc:0.596386	train-auc:0.58874
[1]	eval-auc:0.678926	train-auc:0.676305
[2]	eval-auc:0.708682	train-auc:0.720349
[3]	eval-auc:0.708667	train-auc:0.720473
[4]	eval-auc:0.693692	train-auc:0.72387
[5]	eval-auc:0.710195	train-auc:0.750955
[6]	eval-auc:0.710256	train-auc:0.751054
[7]	eval-auc:0.709325	train-auc:0.754452
[8]	eval-auc:0.713557	train-auc:0.762968
[9]	eval-auc:0.713577	train-auc:0.762981

In [44]:
bst.save_model('credit_xgb_1.model')